server:
  port: 12000

spring:
  application:
    name: user-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: userservice

  flyway:
    enabled: true
    schemas: userservice
    default-schema: userservice
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: 34.22.87.75:9092, 34.22.87.75:9093, 34.22.87.75:9094 # Kafka 브로커(또는 클러스터) 접속 주소와 포트, 쉼표(,)로 복수 브로커 지정 가능
    consumer:
      group-id: user-point-earned-group # 컨슈머 그룹 ID: 같은 그룹에 속한 컨슈머들은 파티션을 분담하여 처리
      auto-offset-reset: earliest # 컨슈머가 처음 시작할 때 오프셋이 없으면 어디서부터 읽을지 설정, earliest: 가장 오래된(처음) 메세지부터, latest: 최신 메세지 부터
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer # 메시지 키 역직렬화기(문자열로 디코딩)
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer # 메시지 값 역직렬화기(JSON -> 객체)
      properties:
        spring.json.trusted.packages: 'org.nextme.userservice.*'
        spring.json.use.type.headers: false
        spring.json.value.default.type: 'org.nextme.userservice.application.evnt.dto.UserPointEarnedMessage'

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  config:
    import: 'optional:configserver:'

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_REST_API_KEY}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope:
              - profile_nickname
              - account_email
            client-name: kakao

          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - profile
              - email
            client-name: google

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            scope:
              - name
              - email
              - nickname
            client-name: naver

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://34.50.7.8:3150/eureka/

logging:
  level:
    org.springframework.security: INFO

# OPEN DOC API 설정
springdoc:
  version: '1.0.0'
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /api-docs.html
    disable-swagger-default-url: true
    doc-expansion: full
  paths-to-match:
    - /**

openapi:
  service:
    url: http://34.50.7.8:3000