server:
  port: 12000

spring:
  application:
    name: user-service

  config:
    import: "configserver:http://13.210.162.214:3100"

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_REST_API_KEY}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            scope:
              - profile_nickname
              - account_email
            client-name: kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://13.210.162.214:3150/eureka/

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: my-nextme-jwt-secret-key-very-long-1234567890
  access-token-validity-seconds: 1800      # 30분
  refresh-token-validity-seconds: 1209600  # 14일